.carousel-inner>.carousel-item {
  max-height: 400px;
}

.carousel-item>img {
  max-height: 250px;
}

.carousel-caption {
  position: relative;
}

.bottom_bar {
  position: fixed;
  left: 50%;
  bottom: 5px;
  translate: -50%;
}

.pdf-page>* {
  height: 100% !important;
  width: auto ! important;
  margin: auto;
}

.pdf-page {
  height: 100%;
  width: auto;
}

.pdf-doc {
  height: 100%;
  width: auto;
}

/* .sigBox {
  border-style: solid;
  border-color: green;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */


.sigCanvas{
  border-style: solid;
  border-color: green;

}
